body {
  background-color: rgb(211 211 211);
  font-family: "Times New Roman";	
}
h1 {
  color: black;
  font-size: 30px
}

h2 {
  color: black;
  font-size: 25px
}

h3 {
  color: black;
  font-size: 20px
}

ul {
	color: rgb(105 105 105);
}

h4 {
  color: black;
  font-size: 20px
}

a {
	color: rgb(105 105 105);
}

ul {
	color: rgb(105 105 105);
}

h5 {
  color: black;
  font-size: 20px
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

h6 {
	color: black;
	font-size: 25px
}

h7 {
	color: black;
  	font-size: 20px
}

h8 {
  color: black;
  font-size: 20px
}

</style>
</head>
